/* Coolors Exported Palette - https://coolors.co/ffffff-fad9c8-a5d7bd-4d4c4e-a6d9be */

/* CSS HEX */
--white: #FFFFFFff;
--unbleached-silk: #FAD9C8ff;
--turquoise-green: #A5D7BDff;
--davys-grey: #4D4C4Eff;
--turquoise-green-2: #A6D9BEff;

/* CSS HSL */
--white: hsla(0, 0%, 100%, 1);
--unbleached-silk: hsla(20, 83%, 88%, 1);
--turquoise-green: hsla(149, 38%, 75%, 1);
--davys-grey: hsla(270, 1%, 30%, 1);
--turquoise-green-2: hsla(148, 40%, 75%, 1);

/* SCSS HEX */
$white: #FFFFFFff;
$unbleached-silk: #FAD9C8ff;
$turquoise-green: #A5D7BDff;
$davys-grey: #4D4C4Eff;
$turquoise-green-2: #A6D9BEff;

/* SCSS HSL */
$white: hsla(0, 0%, 100%, 1);
$unbleached-silk: hsla(20, 83%, 88%, 1);
$turquoise-green: hsla(149, 38%, 75%, 1);
$davys-grey: hsla(270, 1%, 30%, 1);
$turquoise-green-2: hsla(148, 40%, 75%, 1);

/* SCSS RGB */
$white: rgba(255, 255, 255, 1);
$unbleached-silk: rgba(250, 217, 200, 1);
$turquoise-green: rgba(165, 215, 189, 1);
$davys-grey: rgba(77, 76, 78, 1);
$turquoise-green-2: rgba(166, 217, 190, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #FFFFFFff, #FAD9C8ff, #A5D7BDff, #4D4C4Eff, #A6D9BEff);
$gradient-right: linear-gradient(90deg, #FFFFFFff, #FAD9C8ff, #A5D7BDff, #4D4C4Eff, #A6D9BEff);
$gradient-bottom: linear-gradient(180deg, #FFFFFFff, #FAD9C8ff, #A5D7BDff, #4D4C4Eff, #A6D9BEff);
$gradient-left: linear-gradient(270deg, #FFFFFFff, #FAD9C8ff, #A5D7BDff, #4D4C4Eff, #A6D9BEff);
$gradient-top-right: linear-gradient(45deg, #FFFFFFff, #FAD9C8ff, #A5D7BDff, #4D4C4Eff, #A6D9BEff);
$gradient-bottom-right: linear-gradient(135deg, #FFFFFFff, #FAD9C8ff, #A5D7BDff, #4D4C4Eff, #A6D9BEff);
$gradient-top-left: linear-gradient(225deg, #FFFFFFff, #FAD9C8ff, #A5D7BDff, #4D4C4Eff, #A6D9BEff);
$gradient-bottom-left: linear-gradient(315deg, #FFFFFFff, #FAD9C8ff, #A5D7BDff, #4D4C4Eff, #A6D9BEff);
$gradient-radial: radial-gradient(#FFFFFFff, #FAD9C8ff, #A5D7BDff, #4D4C4Eff, #A6D9BEff);